canvas {
 position: fixed;
 top: 0;
 left: 0;
 width: 100% !important;
 height: 100% !important;
}

html {
  font-size: 62.5%;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --space-green: #34f612;
  --white: #FAFAFA;
  --spacing: 40px;

  font-family: "IBM Plex Sans", sans-serif;
}

main {
  position: absolute;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0px auto;
  padding: 30px 0px;
  z-index: 2;
}

h1, 
h2, 
h3, 
h4,
h5
div {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: var(--white);
}

h1, 
h2,
h3,
h4,
h5 {
  margin-block: 5px;
}

header {
  grid-column: 2 / span 5;
  margin-bottom: var(--spacing);
  padding: 1em;
  background: var(--dark-bg);
  border-radius: 10px;
  font-size: 2.5em;
}

section {
  grid-column: 2 / 8;
  margin-bottom: var(--spacing);
  padding: 20px;
  background: var(--dark-bg);
  border-radius: 20px;
  font-size: 1.25em;
  color: var(--space-green);
}

div {
  grid-column: 2 / span 9;
  width: 60%;
  margin: 0;
  margin-bottom: var(--spacing);
  padding: 20px;
  border-radius: 10px;
}

div p {
  font-size: 3em;
  color: var(--white);
}

ul li {
  margin-block: 7px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.left {
  grid-column: 6 / 12;
}

@media screen and (max-width: 900px) {
  main {
    display: block;
  }

  div {
    width: 90%;
    margin: 0 auto;
  }
}